{% extends 'shared/_layout.html' %}
{% block title %}
    ورود کاربر
{% endblock %}
{% block content %}
    <form method="post" action="{% url 'login_page' %}">
        {% csrf_token %}
        <div class="login-form-area">
            <div class="login-form">

                <div class="login-heading">
                    <span>ورود</span>
                    <p>برای دسترسی به سایت وارد شوید</p>
                </div>

                <div class="input-box">
                    <div class="single-input-fields">
                        <label>نام کاربری یا ایمیل</label>
                        {{ login_form.email }}
                        {{ login_form.email.errors }}
                    </div>
                    <div class="single-input-fields">
                        <label>رمز عبور</label>
                        {{ login_form.password }}
                        {{ login_form.password.errors }}
                    </div>
                    <div class="single-input-fields login-check">
                        <a href="{% url 'forget_pass' %}" class="f-right">رمز خود را فراموش کرده اید؟</a>
                    </div>
                </div>

                <div class="login-footer">
                    <p>حساب کاربری ندارید؟ <a href="{% url 'register_page' %}">ثبت نام</a> کنید.</p>
                    <button class="submit-btn3">ورود</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}